rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /manualVideos/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /manualImages/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
